[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.0.7/ztk-versions.cfg
develop = .
parts = interpreter test
versions = versions

[versions]
# Work around version conflicts
zope.testbrowser = 3.11.1
mechanize = 0.2.5
zLOG = 2.11.1

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs = Products.PythonScripts

[test]
recipe = zc.recipe.testrunner
eggs = Products.PythonScripts
